{% load staticfiles %}

<html>
<head>

    {% block meta_tags %}{% endblock %}

    <title>
        {% block title %}Portfoliology"{% endblock %}
    </title>

    {% block stylesheets %}
        <link rel="shortcut icon" type="image/png" href="{% static 'positions/images/favicon.png' %}"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"/>
    {% endblock %}

    {% block javascript %}
        <!--jquery-->
        <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <!--bootstrap js-->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous">
        </script>
        <!--sorttable-->
        <script src="https://kryogenix.org/code/browser/sorttable/sorttable.js"></script>
    {% endblock %}

    {% block extra_head %}{% endblock %}

</head>


<body>

    <style>

        body {
            background-color: snow;
        }

        .thead-inverse th {
            color: #fff;
            background-color: #373a3c;
        }

    </style>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                  data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Portfoliology</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/positions">Positions <span class="sr-only">(current)</span></a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <script>

        // Make all tables that come from pandas sortable
        $(document).ready(function() {
            $(".dataframe").addClass("table").addClass("table-striped").addClass("sortable");
            $(".dataframe thead").addClass("thead-inverse");
        });

    </script>

</body>
</html>
