{% extends "home/base.html" %}
{% load static %}

{% block title %}Positions{% endblock %}


{% block extra_head %}

    <style>

        #accounts-header {
            margin: 0 15px 0 15px;
            font-family: Arial,sans-serif;
            color: #dd4b39;
            font-size: 1em;
        }

        #dropdown_accounts {
            height: 120px;
            margin: 10px 15px 0 15px;
            width: 90%;
        }

        .sidenav {
            height: 100%;
            width: 12%;
            position: fixed;
            z-index: 1;
            background-color: white;
            top: 160px;
            left: 0;
            overflow-x: hidden;
        }

        #positions-header {
            margin: 25px 0 0 13%;
            font-family: Arial,sans-serif;
            font-weight: bold;
            font-size: 1.2em;
        }

        #positions-table {
            margin: 31px 0 70px 13%;
            width: 80%;
        }

        #positions-table td {
            font-size: .75em;
            white-space: nowrap;
            overflow: ellipsis;
            border-left: none;
            border-right: none;
            padding: 1px 8px
        }

        #positions-table td:nth-child(1), #positions-table td:nth-child(2) {
            color: #11C
        }

        #positions-table td:nth-child(n+3), #positions-table th:nth-child(n+3) {
            text-align: right;
        }

        #positions-table td:last-child, #positions-table th:last-child {
            display: none
        }

        #positions-table tfoot td:nth-child(1) {
            color: black;
        }

    </style>

{% endblock %}

{% block content %}

    <div id="sidenav" class="sidenav">

        <p id="accounts-header">Select Accounts To Display</p>
        <select multiple="multiple" name="accounts[]" id="dropdown_accounts" class="form-control">
            {% for acct in accounts %}
                <option value="{{ acct }}" class="form-control">{{ acct }}</option>
            {% endfor %}
        </select>
    </div>

    <p id="positions-header">Positions</p>

    <hr>

    {{ positions|safe }}

    <script>

        $(document).ready(function() {

            // add an ID to the main table for reference
            $('.dataframe').attr("id", "positions-table");


            // Handling totals row for sorting purposes:

            // Find totals row
            var totalsRow = $("#positions-table td").filter(function() {
                return $(this).text() == "Totals";
            }).closest("tr");

            // Detach totals row and create tfoot element from it
            var totalsRow = totalsRow.detach();
            var totalsHtml = "<tfoot>" + totalsRow.html() + "</tfoot>";

            // Append tfoot to tbody
            $("#positions-table tbody").after(totalsHtml);


            // Coloring numbers based on direction of change

            var colsToColor = [6, 7, 8, 10, 11];

            $('#positions-table tr:not(thead tr)').each(function(){


                for (var i=0; i<colsToColor.length; i++) {
                    var cell = $(":nth-child(" + colsToColor[i] + ")", this);

                    if (cell.text() < 0) {
                        cell.css("color", "#d14836");
                    }

                    else {
                        cell.css("color", "#093");
                    }

                }
            })

        });

    </script>

    <script>

        // filter rows by account

        $('#dropdown_accounts').change(function() {
            var filter_accounts = Array();

            $('#dropdown_accounts').children('option').filter(':selected').each(
                function(i) {
                  filter_accounts.push($(this).text());
            })

            console.log(filter_accounts);

            $('#positions-table tbody tr').each(function(){
                var row = $(this);
                var account = row.children('td').last().text();

                // reset all to display
                row.css("display", "table-row");

                // hide the filtered accounts
                if( $.inArray(account, filter_accounts) == -1 ){
                    row.css("display", "none");
                }
            })

        });


    </script>

{% endblock %}
