{% extends "home/base.html" %}
{% load static %}

{% block title %}Positions{% endblock %}


{% block extra_head %}

    <style>

        #dropdown_accounts {
            margin: 0 0 0 175px;
            width: 20%;
            height: 120px
        }

        .dataframe {
            margin: 25px 0 70px 175px;
            width: 83%;
        }

        .dataframe td {
            font-size: .75em;
            white-space: nowrap;
            overflow: ellipsis;
            border-left: none;
            border-right: none;
        }

        .dataframe td:nth-child(n+3), .dataframe th:nth-child(n+3) {
            text-align: right;
        }

        .dataframe td:last-child, .dataframe th:last-child {
            text-align: left;
        }

        .dataframe tfoot {
            font-weight: bold;
            background-color: #e6eef7;
        }

    </style>

{% endblock %}

{% block content %}

    <select multiple="multiple" name="accounts[]" id="dropdown_accounts" class="form-control">
        {% for acct in accounts %}
            <option value="{{ acct }}" class="form-control">{{ acct }}</option>
        {% endfor %}
    </select>

    {{ positions|safe }}

    <script>

        $(document).ready(function() {


            // Handling totals row for sorting purposes:

            // Find totals row
            var totalsRow = $(".dataframe td").filter(function() {
                return $(this).text() == "Totals";
            }).closest("tr");

            // Detach totals row and create tfoot element from it
            var totalsRow = totalsRow.detach();
            var totalsHtml = "<tfoot>" + totalsRow.html() + "</tfoot>";

            // Append tfoot to tbody
            $(".dataframe tbody").after(totalsHtml);


            // Coloring numbers based on direction of change

            var colsToColor = [6, 7, 8, 10, 11];

            $('.dataframe tbody tr').each(function(){


                for (var i=0; i<colsToColor.length; i++) {
                    var cell = $(":nth-child(" + colsToColor[i] + ")", this);

                    if (cell.text() < 0) {
                        cell.css("color", "#d14836");
                    }

                    else {
                        cell.css("color", "#093");
                    }

                }
            })

        });

    </script>

    <script>

        // filter rows by account

        $('#dropdown_accounts').change(function() {
            var filter_accounts = Array();

            $('#dropdown_accounts').children('option').filter(':selected').each(
                function(i) {
                  filter_accounts.push($(this).text());
            })

            console.log(filter_accounts);

            $('.dataframe tbody tr').each(function(){
                var row = $(this);
                var account = row.children('td').last().text();

                // reset all to display
                row.css("display", "table-row");

                // hide the filtered accounts
                if( $.inArray(account, filter_accounts) == -1 ){
                    row.css("display", "none");
                }
            })

        });


    </script>

{% endblock %}
